@using SustentacionASPNETCoreMVC.Models.Tramites
@model TramiteModel
<div class="modal-body">
    <p>¿Estás seguro de que quieres eliminar a @Model.IdTramite ?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    <!-- Formulario para enviar la solicitud de eliminación al servidor -->
    <form id="deleteForm" method="post" asp-controller="Tramite" asp-action="DeleteConfirmed" asp-route-id="@Model.IdTramite">
        <button type="submit" class="btn btn-danger">Eliminar</button>
    </form>
</div>