@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="alert alert-success">
        <h2 class="display-4">
            Soy la página INDEX
        </h2>
    </div>
</div>

@*<div class="row justify-content-center">
    <div class="col-10">
        <div class="alert alert-success" role="alert">
            Crud Empleados
        </div>
        <button type="button" class="btn btn-success btn-sm btn-nuevo-usuario">Nuevo Usuario</button>
        <table class="table table-striped" id="tablaUsuarios">
           <thead>
               <tr>
                   <th>Nombre Completo</th>
                   <th>Area</th>
                   <th>Fecha Registrado</th>
                   <th>Username</th>
                   <th>Password</th>
                   <th>Acciones</th>
               </tr>
           </thead>
           <tbody>

           </tbody>
        </table>

    </div>

</div>
<div class="modal fade" id="modalUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"> Usuario </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Nombre Completo</label>
                    <input type="text" class="form-control" id="txtNombreCompleto" autocomplete="off">
                </div>
                <div class="mb-3">
                    <label class="form-label">Área</label>
                    <select class="form-select" id="cboArea"></select>
                </div>
                <div class="mb-3">
                    <label class="form-label"> Username </label>
                    <input type="text" 
id="txtUser" class="form-control" >
                </div>
                <div class="mb-3">
                    <label class="form-label"> Password </label>
                    <input class="form-control" id="txtPassword">
                </div>
                <div class="mb-3">
                    <label class="form-label">Fecha Registro</label>
                    <input type="text" class="form-control" id="txtFechaRegistro">
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-guardar-cambios-usuario">Save </button>
            </div>
        </div>
    </div>
</div>*@

@*@section Scripts{
    <script src="~/js/index.js"></script>
}*@
